config = {
        'graphite_host': 'localhost',
        'graphite_port': 2003,
        'executable': 'c',
        'debug': False
}

modules = [
    {
        'type': 'counters',
        'funcs': ('malloc', 'strlen')
    }
]
